html {
    font-family: Fira sans;
  }
  
  body{
    background-color:#E5E5E5;
    max-width: 80%;
    margin: auto;
    font-family: Fira Sans;
  }
  
  
  /*grid container för header*/
  .gheader{
    display: grid;
    grid-template-rows: repeat(2, 350px);
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
    "one two"
    "one three";
  }
  
  /*box1 inuti gheader container*/
  .box1{
    grid-area: one;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(2, 50%);
  }
  
  /*class för texten inuti box1*/
  .box1-item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    max-width: 50%;
    margin: auto;
    margin-top: 3rem;
  }
  
  .box1-item-1 h1{
    font-size: 50px;
    margin-block-end: 0;
  }
  
  .box1-item-1 p{
    font-size: 20px;
    line-height: 1.6;
  }
  
  /*class för knapp inuti box1*/
  .box1-item-2{
    grid-column: 1;
    grid-row: 3 / 4;
    max-width: 0;
    margin: auto;
  }
  
  .box1-item-2 button{
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 20px;
    min-width: 12rem;
    border-radius: 3rem;
    font-weight: bold;
    transition: .2s transform ease-in-out;
    color: black;
  }
  
  .box1-item-2 button:hover{
    transform: scale(1.05);
  }
  
  /*class för img inuti box1*/
  .box1-item-3{
    display: flex;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    justify-self: flex-end;
    margin-right: 1rem;
  }
  
  .box1-item-3 img{
    max-height: 22em;
    max-width: 100%;
  }
  
  
  /*box2 inuti gheader container*/
  .box2{
    grid-area: two;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .box2 h2{
    font-size: 50px;
    margin-block-start: 0;
  }
  
  .box2 p{
    font-size: 16px;
    margin-block-end: 0;
  }
  
  /*box3 inuti gheader container*/
  .box3{
    grid-area: three;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .box3 h2{
    font-size: 50px;
    margin-block-start: 0;
  }
  
  .box3 p{
    font-size: 16px;
    margin-block-end: 0;
  }
  
  
  /*Main grid start*/
  .maingrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
 }
  .mitem1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;

  }
  .mitem2 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10% 20% 20% 25%;
    max-width: 50%;
  }
  .mitem3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/3;
    max-width: 50%;
    margin-top: -50px;
  }
  
  .mitem4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  
  .mitem5 {
    grid-column: 1/3;
    grid-row: 4/6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
  }
  .mitem2 p {
    font-size: 20px;
    line-height: 1.6;
  }
  
  .item5 h1 {
    font-size: 50px;
  }
  
  .item5 > p {
    max-width: 60%;
    font-size: 14px;
  }
  
  .maingrid p {
    font-size: 14px;
  }
  
  .fleximage > div > image{
    background-color: white;
    max-width: 256px;
    max-height: 308px;
    border-radius: .5rem;
  }
  
  .imageframe {
    width: 236px;
    height: 150px;
    margin-top: -30px;
    border-radius: .5rem;
    align-content: center;

  }
  .textframe {
    background-color: white;
    text-align: center;
    max-width: 256px;
    min-height: 308px;
    border-radius: .5rem;
    margin-top: -75px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    flex-direction: column;
  }
  .imgdesc {
    display: flex;
    align-items: center;
    flex-direction: column;  
  }
  .imgdesc > h4 {
    font-family: Frank Ruhl Libre;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: -5px;
  }
  .imgdesc > p {
    font-family: Fira Sans;
    font-size: 11px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
  }
  .mitem1 {
      font-family: frank rhul libre;
      font-size: 45px;
      line-height: 100%;
  }
  .mitem3 {
      font-family: Fira Sans;
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
  }
  .mitem5 > h2 {
      font-size: 45px;
      color: white;
  }
  .mitem5 > p {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6);
  }
  /*Slutet på main griden*/
  /*Nested grid i mitten för att lägga lådorna rätt*/
  .nestedgrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    list-style: none;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .iimage1 {
    display: flex;
    grid-column: 1/1;
    grid-row: 1/2;
    border-radius: .5rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .iimage2 {
    display: flex;
    grid-column: 2/2;
    grid-row: 1/2;
    border-radius: .5rem;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
  }
  .iimage3 {
    display: flex;
    grid-column: 3/3;
    grid-row: 1/2;
    border-radius: .5rem;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
  }
  
  /*Slut på nested grid*/
  
  
  /*Knappen för body delen*/
  .jbutton {
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 20px;
    min-width: 12rem;
    border-radius: 3rem;
    font-weight: bold;
    transition: .2s transform ease-in-out;
    color: black;
  }
  
  /* class för navlistan*/
  .navlist{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 2rem;
    justify-content: space-around;
    max-width:62%;
    font-weight: bold;
  }
  
  /* class för nav items */
  .nav-item{
    list-style: none;
  }
  
  .nav-item a{
    text-decoration: none;
    color: rgb(139, 139, 139);
  }
  
  .nav-item a:hover{
    color: black;
  }
  
  /* färger */
  .blue{
    background-color: #C7DDEA;
  }
  
  .red{
    background-color: #F17949;
  }
  
  .yellow{
    background-color: #FAB131;
  }
  
  .white {
    background-color: white;
  }
  
  .whitetext {
    color: white;
  }
  
  .darkgray {
    background-color: #A9A19E;
  }
  
  .grad-background {
    background: linear-gradient(180deg, #A9A19E 50%,#FAB131 50%);
  }
  
  
  /* Bilder till main
  .figure {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
  }
  .container {
    margin: 15px;
    text-align: center;
  }
  */
  .gridimage {
    width: 100px;
    height: 170px;
    margin-top: -20px;
    padding: 0 25% 0 25%;
    object-fit: cover;
    object-position: 0px 30px;
  }
  
  /*sara*/
    .flex-box {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      justify-content: center;
      text-align: center;
    }

    .flex-box > h2 {
      font-family: Frank Ruhl Libre;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, 0.8);
    }
    
    .flex-box > p {
      font-style: normal;
      color: rgba(0, 0, 0, 0.7);
    }

    .numbers {
      font-family: Frank Ruhl Libre;
      letter-spacing: -0.02em;
      margin: 10px;
      color: rgba(0, 0, 0, 0.4);
      text-align: left;
    }

    .button {
        margin: 0 auto;
        height: 65px;
        text-align: center;
    
        background-color: #a9a19e;
    }

    .arrow {
      image-orientation: inherit;
    }
    
    
    .footer {
        margin: 0 auto;
        height: 340px;
    
        background-color: #777574;
    
    }
    
  
    /* Media queries */
  @media screen and (max-width:700px){
  
    body{
        max-width: 100%;
    }
    
    .gheader{
        grid-template-rows: repeat(4, 350px);
        grid-template-columns: repeat(1, auto);
        grid-template-areas: 
        "one"
        "one"
        "two"
        "three";
    }
    
    .box1{
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(1, auto);
    }
    
    .box1-item-1{
        max-width: 100%;
        grid-row: 1 / 1;
        margin: 0;
        padding: 10px;
    }
    
    .box1-item-1 p{
        font-size: 14px;
    }
    
    .box1-item-2{
        grid-row: 2 / 3;
        max-width: 100%;
        margin: 0;
        padding: 10px;
    }
    
    nav{
        display: none;
    }
  
    }